/* You can add global styles to this file, and also import other style files */

body {
  background-color: #076324;
  color: #FFF;
  text-align: center;
  padding: 5%;
}

.form-group {
  display: block;
}

.form-group label{
  display: block;
  font-size: 25px;
}

.container {
  padding: 20px;
}
